In [1]:
import pandas as pd

In [11]:
import pandas as pd
import os

limpieza_datos = "data/raw/pib_banco_mundial_50.csv"

# 1. Le dices a pandas que el separador es ';' y que no hay encabezado (header=None)
df = pd.read_csv(limpieza_datos, sep=';', header=None)

# 2. Asignas los nombres a las columnas de forma manual
df.columns = ['Country Name', 'Country Code', '2019', '2020', '2021', '2022', '2023']

# 3. Muestras las primeras filas para verificar que todo esté correcto
df.head()

,Country Name,Country Code,2019,2020,2021,2022,2023
0,Country Name,Country Code,2.019000e+03,2.020000e+03,2.021000e+03,2.022000e+03,2.023000e+03
1,Argentina,ARG,1.492100e+12,5.090000e+11,2.781000e+11,7.350000e+11,1.361300e+12
2,Brazil,BRA,8.961000e+11,2.279500e+12,1.978400e+12,1.322700e+12,1.234500e+12
3,United States,USA,2.164700e+12,6.277000e+11,6.323000e+11,1.705900e+12,1.531200e+12
4,China,CHN,8.600000e+09,1.491000e+11,1.204200e+12,2.200000e+12,9.592000e+11

In [7]:
df.isnull().sum()

Country Name    0
Country Code    0
2019            0
2020            0
2021            0
2022            0
2023            0
dtype: int64

In [8]:
# Verificar y corregir tipos de datos si es el caso.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  52 non-null     object
 1   Country Code  52 non-null     object
 2   2019          52 non-null     float64
 3   2020          52 non-null     float64
 4   2021          52 non-null     float64
 5   2022          52 non-null     float64
 6   2023          52 non-null     float64
dtypes: float64(5), object(2)
memory usage: 3.0+ KB

In [9]:
# Contar el número de filas duplicadas
df.duplicated().sum()

np.int64(0)

In [12]:
# 2. Guardar el archivo limpio en la carpeta 'processed'
archivo_limpio = 'data/processed'
nombre_archivo = 'pib_limpio.csv'
ruta_completa = os.path.join(archivo_limpio, 'pib_limpio.csv')

df.to_csv(ruta_completa, index=False)

print(f"Archivo limpio guardado en: {ruta_completa}")

Archivo limpio guardado en: data/processed\pib_limpio.csv